:root {
  /* Font */
  --main-font: DM Sans, sans-serif;
  --main-weight: 400;
  --main-size: 17px;
  --secondary-size: 18px;

  /* Color */
  --main-light: #fff;
  --main-dark: #000;
  --accent-color: #118da8;
}

body {
  background-color: #191919;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--main-weight);
  font-size: var(--main-size);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Common styles */

.list {
  list-style: none;
  padding-left: 0;
}

.link {
  font: inherit;
  text-decoration: none;
  color: currentColor;
}

.btn {
  padding: 12px 15px 12px 20px;

  font: inherit;
  color: var(--main-light);

  background-color: var(--accent-color);

  cursor: pointer;
  border: none;
  border-radius: 6px;
}

.text {
  font-size: 22px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}
.section {
  width: 1302px;
  margin: 0 auto;
}

.current {
  color: var(--accent-color);
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header Section */

.header {
  width: 1320px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.header-link {
  padding: 43px 0px;
}

.header-list {
  margin: 0;
  padding: 0;
}

.header-items {
  margin-left: 40px;
  line-height: 1.59;

  color: var(--main-light);
}

.header-items:first-child {
  margin-left: 0;
}

/* Main Section */

/* Hero Section */

.hero {
  padding-bottom: 100px;
  align-items: flex-start;
}

.hero-container {
  padding-top: 294px;
}

.hero-title {
  width: 546px;
  height: 280px;
  margin: 0;
  padding-bottom: 74px;

  font-size: 70px;
  line-height: 1.26;

  letter-spacing: 3.2px;

  color: var(--main-light);
}

.line {
  height: 104px;

  font-size: 75px;
  line-height: 1.17;

  background: url('../img/main/hero/line.png') no-repeat;
}

.bold {
  font-weight: 700;
  font-size: 80px;
  line-height: 1.1;
}

.hero-desc {
  margin: 0;
  margin-left: 22px;
  padding-bottom: 16px;

  font-size: 15px;
  line-height: 1.6;

  color: var(--main-light);
}

.hero-list {
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.hero-items {
  margin-left: 17px;
}

.hero-items:first-child {
  margin-left: 22px;
}

/* Episodes Section */

.episodes-header {
  padding-bottom: 66px;
}

.episodes-title {
  font-size: 64px;
  line-height: 1.24;

  letter-spacing: 2.88px;

  color: var(--main-light);
}

.episodes-btn {
  line-height: 1.59;
}

.episodes-item {
  margin-bottom: 60px;
  background-color: var(--main-dark);
  border-radius: 32px;
}

.episodes-item:last-child {
  margin-bottom: 160px;
}

.episodes-card {
  padding: 40px;
  align-items: unset;
}

.episodes-right {
  width: 778px;
}

.episodes-caption {
  display: inline-block;
  padding: 0 16px;
  margin: 8px 0px 48px;

  font-size: var(--secondary-size);
  line-height: 1.5;

  color: var(--main-light);

  background: #191919;
  border-radius: 6px;
}

.episodes-subject {
  display: block;
  padding-bottom: 17px;
  line-height: 1.59;

  color: var(--accent-color);
}

.episodes-subtitle {
  padding-bottom: 28px;

  font-size: 64px;
  line-height: 1.1;

  letter-spacing: 2.56px;

  color: var(--main-light);
}

.episodes-text {
  padding-bottom: 26px;
}

/* About Section */

.about-container {
  align-items: flex-start;
  padding: 100px 0;
}

.about-left {
  margin: 147px 60px 147px 0;
}

.about-pic {
  padding-bottom: 20px;
}

.about-title {
  font-size: var(--secondary-size);
  line-height: 1.5;

  color: var(--accent-color);
}

.about-subtitle {
  padding-bottom: 28px;
  font-size: 65px;
  line-height: 1.22;

  letter-spacing: 2.88px;

  color: var(--main-light);
}

.about-text {
  padding-bottom: 33px;
}

.about-text:last-child {
  padding-bottom: 0;
}

/* Subscribe Section */

.subscribe {
  padding: 100px 0;
}

.subscribe-container {
  background: var(--main-dark);
  border-radius: 32px;
}

.subscribe-text {
  padding-top: 60px;
  margin-left: 60px;
  font-size: 18px;
  line-height: 1.5;

  color: var(--accent-color);
}
.subscribe-title {
  margin-left: 60px;
  padding-bottom: 143px;
  width: 436px;
  font-size: 72px;
  line-height: 1.1;

  letter-spacing: 2.88px;

  color: var(--main-light);
}
.container-right {
  margin-right: 60px;
}

.subscribe-user {
  display: block;
  padding: 26px 320px 27px 19px;
  margin-bottom: 20px;

  background-color: #191919;
  border: 1px solid #191919;
  border-radius: 6px;
}

/* Reviews Section */

.reviews {
  padding: 100px 0px;
}

.reviews-list {
  flex-wrap: wrap;
  gap: 16px;
}

/* Footer Section */
.footer {
  width: 1320px;
  margin: 0 auto;
  padding: 100px 0px;
}

.footer-container {
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-logo {
  width: 447px;
}

.logo-pic {
  padding-bottom: 20px;
}

.social-list {
  justify-content: flex-start;
}
.social-item {
  margin-left: 10px;
}
.social-item:first-child {
  margin-left: 0;
}

.nav-list,
.menu-list {
  margin-left: 16px;
  width: 178px;
}

.nav-item,
.menu-item {
  padding-bottom: 10px;
  line-height: 1.59;

  color: var(--main-light);
}

.nav-item:last-child,
.menu-item:last-child {
  padding-bottom: 0;
}

.footer-list {
  margin-left: 16px;
}
.footer-item {
  margin-left: 17px;
}

.footer-item:first-child {
  margin-left: 0;
}

@media (max-width: 375px) {
  .header {
    max-width: 375px;

    margin-left: 50px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .header-list {
  }
}
